<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Schreinerei Ammann - Aus Liebe zum Holz – Ihr Schreinermeisterbetrieb in Dirlewang</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <base href="/"/>


    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>

<body>
{{ partial "header.html" . }}
{{ .Content }}
{{ partial "footer.html" . }}
</body>