<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
<head>
    <title>{{.Site.Title}} - {{.Title}}</title>
    {{ partial "meta.html" . }}

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
</head>

<body>
{{ if .Params.header }}
{{ partial "header.html" . }}
{{ end }}

{{ .Content }}

{{ if .Params.header }}
{{ partial "footer.html" . }}
{{ end }}
</body>