<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" lang="de">
<head>
    <title>{{.Site.Title}} - {{.Title}}</title>
    {{ partial "meta.html" . }}

    {{ $style := resources.Get "style.scss" | resources.ToCSS | minify }}
    {{ $fonts := resources.Get "fonts.css" | minify -}}
    <style>
        {{- $style.Content | safeCSS -}}
        {{- $fonts.Content | safeCSS -}}
    </style>
</head>

<body>
{{ if .Params.header }}
{{ partial "header.html" . }}
{{ end }}

{{ .Content }}

{{ if .Params.header }}
{{ partial "footer.html" . }}
{{ end }}
</body>