{{ define "content" }}

<h1>
    Galerie
</h1>

{{/* List all galleies */}}
<div class="gallery preview">
    {{ range .Paginator.Pages }}
    {{ $image := index (.Resources.ByType "image") 0 }}
    <figure>
        <a href="{{ .RelPermalink }}" itemprop="contentUrl" data-size="1200x800">
            <img src="{{ ( $image.Resize " 300x200").RelPermalink }}" itemprop="thumbnail" alt="{{- .Title }}" />

            <figcaption href="{{ .RelPermalink }}">
                {{- .Title }}
            </a>
        </a>
    </figure>
    {{ end }}
</div>


{{/* Display paginator */}}
{{ template "_internal/pagination.html" . }}

{{ end }}