{{ define "content" }}

<div>
  <h1>
    {{ .Title }}
  </h1>


  <div class="gallery-content">
    {{ .Content }}
  </div>

  <div class="gallery photoswipe-gallery" itemscope itemtype="http://schema.org/ImageGallery">
    {{ range (.Page.Resources.ByType "image") }}
    {{ $full := . }}
    {{ $resized := $full.Resize "1920x" }}
    <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
        <a href="{{ $resized.RelPermalink }}" itemprop="contentUrl" data-size="{{ $resized.Width }}x{{ $resized.Height }}">
            <img src="{{ ($full.Resize "300x200").RelPermalink }}" itemprop="thumbnail" alt="Image description" />
        </a>
    </figure>
    {{ end }}
  </div>

  {{ partial "photoswipe.html" . }}

</div>

{{ end }}