<div class="clearall"></div>
<div class="footer">
    <div id="foot">
        <a id="footer-left" href="{{ .Site.BaseURL }}" class="white small"><img src="/images/footerlogo.png"/></a>
        <div id="footer-right" class="white small" style="width: 250px;">
            <span>
                <a class="white" href="{{ref . "kontakt"}}">Kontakt</a> |
                <a class="white" href="{{ref . "impressum"}}">Impressum</a> |
                <a class="white" href="{{ref . "datenschutz"}}">Datenschutz</a>
            </span>
        </div>
    </div>
</div>
