{{ define "content" }}

{{ partial "flexslider_init.html" . }}

<div id="pic">
    <div class="flexslider">
        <ul class="slides">
            <li><img src="/images/schr-6.jpg" /></li>
            <li><img src="/images/schr-1.jpg" /></li>
            <li><img src="/images/schr-2.jpg" /></li>
            <li><img src="/images/schr-3.jpg" /></li>
            <li><img src="/images/schr-4.jpg" /></li>
            <li><img src="/images/schr-5.jpg" /></li>
        </ul>
        <div class="semitrans p20">
            <h1 class="light m30">Im richtigen Leben </h1>
            <h1 class="semibold">
                zählen die wahren Werte</h1>
            <p class="m40">Seit nun mehr als 20 Jahren bieten wir unseren Kunden maßgeschneiderte Anfertigungen für
                den
                Wohn- und Geschäftsbereich. Von der persönlichen Beratung, über die hochwertige handwerkliche
                Fertigung
                bis hin zur fachmännischen Montage bei perfektem Service reicht unser Portfolio. Wir freuen uns auf
                Ihre
                Anfrage.
            </p>
            <div class="ausliebe"></div>
        </div>
    </div>
    <div class="content">
        <div class="cbox">
            <div class="boximg"><img src="/img/katpics-tuer.jpg" alt="" /></div>
            <div class="boxtext">
                <p><span class="rot">Die Haustür –</span><br /><span class="semibold">Visitenkarte<br /> für Ihre
                        gute Adresse.</span>
                </p>
                <p>Die Gestaltungsfreiheit einer Haustür bietet Platz für unzählige Wünsche. Mit unserer Kompetenz
                    und
                    Erfahrung in der Planung und Fertigung sind Sie bei uns in guten Händen.</p>
            </div>
        </div>
        <div class="cbox">
            <div class="boximg"><img src="/img/katpics-eckbank.jpg" alt="" /></div>
            <div class="boxtext">
                <p><span class="rot">Die Eckbank –</span><br /><span class="semibold">Viel Platz<br /> für
                        Gastfreundlichkeit.</span>
                </p>
                <p>An die Konstruktion und Ausführung werden höchste Ansprüche gestellt. Wir planen und fertigen
                    individuell nach den örtlichen Gegebenheiten.</p>
            </div>
        </div>
        <div class="cbox">
            <div class="boximg"><img src="/img/katpics-schrank.jpg" alt="" /></div>
            <div class="boxtext">
                <p><span class="rot">Durchdacht –</span><br /><span class="semibold">bis ins Detail</span></p>
                <p>Egal ob Wohnzimmerschrank oder Büroeinrichtung. Die Realisierung Ihrer individuellen Ideen und
                    Wünsche benötigt einen qualifizierten und kompetenten Partner wie uns.</p>
            </div>
        </div>
        <div class="cbox last">
            <div class="boximg"><img src="/img/katpics-schlafz.jpg" alt="" /></div>
            <div class="boxtext">
                <p><span class="rot">Extravaganz –</span><br /><span class="semibold">Wandgarderobe geschickt
                        versteckt</span></p>
                <p>Wir bieten Ihnen ausgefallene Lösungen und Vorschläge für Ihr Eigenheim. Haben Sie dazu noch
                    Fragen
                    oder möchten Sie von uns weitere Informationen, dann nehmen Sie einfach mit uns Kontakt auf.</p>
            </div>
        </div>
        <div class="clearall"> </div>
        <div class="cbox">
            <div class="boximg"><img src="/img/katpics-bad.jpg" alt="" /></div>
            <div class="boxtext">
                <p><span class="rot">Das Badezimmer –</span><br /><span class="semibold">Oase des
                        Wohlfühlens.</span></p>
                <p>Schöne und praktische Gestaltungselemente sind für die Badezimmereinrichtung oberstes Gebot.</p>
            </div>
        </div>
        <div class="cbox">
            <div class="boximg"><img src="/img/katpics-kueche.jpg" alt="" /></div>
            <div class="boxtext">
                <p><span class="rot">Die Küche –</span><br /><span class="semibold">Zentrum der<br />
                        Kommunikation.</span></p>
                <p>Küche ist Leben. Küche ist Alltag. Wir bieten Lösungen, die Ihre Küche "gut aussehen" lassen und
                    darüber hinaus sehr funktionell machen.</p>
            </div>
        </div>
        <div class="cbox">
            <div class="boximg"><img src="/img/katpics-parkett.jpg" alt="" /></div>
            <div class="boxtext">
                <p><span class="rot">Parkett –</span><br /><span class="semibold">damit das<br /> Ambiente
                        stimmt.</span>
                </p>
                <p>Neben Gesundheit und Raumklima sprechen vor allem wirtschaftliche Gründe für einen Echtholzboden.
                    Holzböden haben mehrere Leben. Abschleifen, wachsen oder ölen und schon beginnt ein neuer
                    Lebensabschnitt. Oder ganz einfach die Wärme und Behaglichkeit, die nur echtes Holz in dieser
                    Weise
                    ausstrahlt.</p>
            </div>
        </div>
        <div class="cbox last">
            <div class="boximg"><img src="/img/katpics-restaurierung.jpg" alt="" /></div>
            <div class="boxtext">
                <p><span class="rot">Restauriert –</span><br /><span class="semibold">von Meisterhand</span></p>
                <p>Vertrauen Sie uns Ihr Schmuckstück an. Mit unserer Erfahrung im Umgang mit dem Werkstoff Holz,
                    bringen wir jedes Stück wieder zum Strahlen ... oder wünschen Sie den Nachbau eines historischen
                    Möbelstückes? Mit Sachverstand fertigen wir Möbel zum Vererben.</p>
            </div>
        </div>
        <div class="cbox">
            <div class="boximg"><img width=213 height=282 style="object-fit: cover;" src="/img/neher.jpg" alt="" /></div>
            <div class="boxtext">
                <p><span class="rot">Instektenschutz –</span><br /><span class="semibold">damit Sie ruhig schlafen</span>
                </p>
                <p>Besuchen sie unseren Partner für Instektenschutz, indem Sie <a href="https://www.neher.de/partnerlink/" target="_blank">hier</a> klicken.</p>
            </div>
        </div>
        <div class="clearall"> </div>
    </div>
</div>

{{ end }}
