<link rel="stylesheet" href="/libs/supersized/css/supersized.css" type="text/css" media="screen"/>
<link rel="stylesheet" href="/libs/supersized/theme/supersized.shutter.css" type="text/css" media="screen"/>

<script type="text/javascript" src="/libs/jquery/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/libs/supersized/js/jquery.easing.min.js"></script>
<script type="text/javascript" src="/libs/supersized/js/supersized.3.2.7.min.js"></script>
<script type="text/javascript" src="/libs/supersized/theme/supersized.shutter.min.js"></script>
<script type="text/javascript">

    jQuery(function ($) {

        $.supersized({

            // Functionality
            slideshow: 1,			// Slideshow on/off
            slide_interval: 10000,		// Length between transitions
            transition: 1, 			// 0-None, 1-Fade, 2-Slide Top, 3-Slide Right, 4-Slide Bottom, 5-Slide Left, 6-Carousel Right, 7-Carousel Left
            transition_speed: 700,		// Speed of transition

            // Components
            slide_links: 'blank',	// Individual links for each slide (Options: false, 'num', 'name', 'blank')
            thumbnail_navigation: 1,			// Thumbnail navigation
            thumb_links: 1,			// Individual thumb links for each slide
            slides: [			// Slideshow Images
            {{ range .Page.Resources.ByType "image" }}
                {{ $full := . }}
                {image: '{{ $full.RelPermalink }}', title: 'Schreinrei Ammann', thumb: '{{ ($full.Resize "200x").RelPermalink }}'},
            {{ end }}
            ]
        });
        $.supersized.vars.image_path = "/libs/supersized/img/";
    });
</script>




